* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.title-box {
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 32px; 
    font-weight: 600;
}

.text_botton_title {
    color: #667085;
    font-size: 18px; 
    margin-top: 8px;
}


.container_box {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    font-size: 16px;
}


input:focus {
    border-color: #007bff;
    outline: none;
}


.full-name {
    display: flex;
    gap: 10px; 
}

.full-name div {
    width: 50%;
}


.box-help {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-top: 12px;
}


.btn-submit button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}

.btn-submit button:hover {
    background-color: #0056b3;
}


.btn-footer {
     display: flex;
    text-align: center;
    margin-top: 16px;
}

.btn-footer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


/* Responsive cho mobile */
@media screen and (max-width: 600px) {
    .container_box {
        max-width: 90%; 
    }
    .full-name {
        flex-direction: column; 
    }
    .full-name div {
        width: 100%;
    }
}